.sessao_cadastro_usuarios {
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_cadastro_usuarios {
    width: 95%;
    height: 95%;
    background-color: beige;
    flex-direction: column;
    display: flex;
    gap: 1dvh;

}

.container_inicial {
    background-color: azure;
    width: 100%;
    height: 12dvh;
    display: flex;
}

.texto_inicial {
    background-color: blue;
    width: 90%;
    height: 10dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(0.8125rem, 1rem + 0.5vw, 1.125rem);
}

.container_pesquisa {

    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: blueviolet;
}

.container_pesquisa input {
    width: 70%;
    height: 4dvh;
    border-radius: 8px;

}

.container_pesquisa button {

    background-color: transparent;
    border: none;

}

.container_interacao_usuarios {
    background-color: yellow;
    width: 100%;
    height: 8dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.container_status_usuarios {
    width: 25%;
    display: flex;
    flex-direction: row;
    gap: 2dvw;

}

.status_usuarios {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(141, 163, 183, 0.432);
    border-radius: 15px;

}

.container_tabela {
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 70dvh;
    padding: 10px;
    border: solid 1px rgba(68, 68, 68, 0.663);
}

.colunas_tabela {
    width: 100%;
    height: 5dvh;
    display: flex;
    flex-direction: row;
    gap: 2dvh;
}



.linha_tabela {
    background-color: brown;
    width: 100%;
    height: 7dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px rgba(72, 71, 71, 0.793);
    border-bottom: solid 1px rgba(72, 71, 71, 0.793);
}


.usuario {

    width: 20%;
    background-color: azure;
}

.email {
    width: 25%;
    background-color: azure;
}

.empresa {
    width: 16%;
    background-color: azure;
    display: flex;
    justify-content: center;
}

.perfil {
    width: 10%;
    background-color: azure;
    display: flex;
    justify-content: center;
}

.estado {
    width: 10%;
    background-color: azure;

}


.container_acoes button{
    gap: 10px;
}

.container_acoes button{
    background-color: transparent;
    border: none;
} 